{% extends 'base.html.twig' %}


{% block main %}
    <div class="tryform">
        {{ form (form) }}
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <span>© Ate.lcr | Create article</span>
    </div>
{% endblock %}
