@font-face {
    font-family: "Lato-Regular";
    src: url("fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-Bold";
    src: url("fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato-Black";
    src: url("fonts/Lato-Black.ttf");
}

body {
    margin: 0;
    padding: 0;
}

html{
    background-color: #FCFAF9;
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Lato-Bold", sans-serif;
    text-align: center;
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
}

.menu li {
    list-style-type: none ;
}

.menu ul {
    padding: 0 ;
    display: flex;
    flex-direction: row;
}


h3 {
    text-transform: uppercase;
    font-family: "Lato-Black", sans-serif;
    margin-top: 20px;
    font-size: 0.8rem
}

img {
    height: 200px;
    object-fit: cover;
    margin-bottom: -4px;
}

.card {
    margin: 100px 50px 30px 50px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #d3d2d2;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius:3px;

}

.card-txt{
    margin-bottom: 20px;
    padding-bottom: 15px;
}


.btn {
    background-color: #a4a3a3;
    text-align: center;
    padding: 10px 45px;
    margin-top: 10px;

    font-family: "Lato-Regular", sans-serif;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 1px;
}

.btn2 {
    background-color: #ff6e6e;
    margin-top: 10px;
    text-align: center;
    padding: 10px 45px;
    font-family: "Lato-Regular", sans-serif;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 1px;
}
.btns{
    display: flex;
    flex-direction: column;
}

.btn3 {
    background-color: #64c4d3;
    text-align: center;
    padding: 10px 45px;
    font-family: "Lato-Regular", sans-serif;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 1px;
}


.out {
    margin-top: 120px;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.footer{
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:50px;
    font-family: "Lato-Regular", sans-serif;
    text-align: center;
}

.author{
    font-size: 0.8rem;
}

.published{
    font-size: 0.8rem;
}

.flash{
    font-family: "Lato-Bold", sans-serif;
    text-align: center;

}
.tryform div {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}