<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    {% block title %}
    <title>Blog La Piscine</title>
    {% endblock %}

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    <link rel="stylesheet" href="{{ asset('styles/style.css') }}">


</head>
{% block header %}
<header>
    <nav>
        <div class="menu">
            <ul>
                <li><a href="{{ path ('home')}}">Accueil</a></li>
                <li><a href="{{ path ('articles')}}">Liste des articles</a></li>
            </ul>
        </div>
    </nav>
</header>
{% endblock %}


<body>
<div class="article">


<main>

{#    Bloc spécifique de la page à remplir à cette endroit #}
    {% block main %}
    {% endblock %}


</main>


</div>

</body>
{% block footer %}
    <div class="footer">
        <span>© Ate.lcr</span>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
</html>
