{% extends 'base.html.twig' %}


{% block main %}

    <div class="form" style="text-align: center">
        <form method="get" action="{{ path('ageverif') }}">
            <span>Quel est votre age ?</span>
            <input type="text" name="id">
            <a href="{{ path('ageverif') }}" target="_blank"><input type="submit" value="Envoyer" /></a>
        </form>
    </div>

{% endblock %}
