{% include  '_header.html.twig' %}
<div class="form" style="text-align: center">
<form method="get" action="index.php">
    <span>Quel est votre age ?</span>
    <input type="text" name="id">
    <a href="index.php" target="_blank"><input type="submit" value="Envoyer" /></a>
</form>
</div>


{% for article in articles [:3] %}
    {% include  '_article.html.twig' %}
{% endfor %}
{% include  '_footer.html.twig' %}
