{% extends 'base.html.twig' %}

{% block header %}
    <header>
        <nav>
            <div class="menu">
                <ul>
                    <li><a href="{{ path ('home')}}">Accueil</a></li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}

{% block main %}

    <h1 class="out">Look out kid !</h1>

{% endblock %}
